<!-- Bismillahirahmanirahim -->
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blogging Dude{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="{% static 'gallery/blogging_dude.png' %}" />
    {% tailwind_css %}
</head>
<body class="bg-gray-400 text-gray-900">
    {% block body %}
    {% endblock %}
</body>
</html>